.center{
    margin-left:42px;
}
.NormText {
    width: 80%;
    height: 30vh;
    
}
.ZovText {
    
    width: 80%;
    height: 30vh;
}
.Change{
    margin-top:10px;
    margin-bottom:12px;
}